h1, h2, h3, h4 {
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
}

h1 {
    font-weight: 700;
    font-size:2.5em;
    margin-bottom:15px;
    color: rgb(250, 213, 126);
    text-shadow: 1px 1px 2px rgb(72, 76, 91);
}


p {
    color:rgb(226, 232, 255);
    font-family: 'Source Sans 3', 'Roboto', sans-serif;
}

body {
    margin: 45px;
    background-image: url('img/light-gray.png');
    background-repeat:repeat;
    background-size:300px;
    background-color:#7386b5;
}

.guests {
    margin: 0 100px;
}

.person {
    margin-bottom:50px;
}
.info {
    display:flex;
}

.text {
    display:flex;
    flex-direction:column;
    margin-left:20px;
}

h3 {
    margin-bottom: 0;
}

.info h3, h2 {
    color:#261574;
}

li {
    color: #151c52;
    font-family: 'Source Sans 3', 'Roboto', sans-serif;
}

.rsvp h2 {
    color:rgb(215, 228, 250);
}

.rsvp {
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items:center;
    justify-content: center;
    background-color:#261574;
    border-radius:30px;
    width:fit-content;
    padding: 25px;
    margin:auto;
}

form {
    align-items:center;
    text-align:center;
    color:white;
}

form label{
    font-family: 'Source Sans 3', 'Roboto', sans-serif;
}

#diet {
    width:300px
}