.headers {
  font-family: "Oswald", sans-serif;
  margin: 0px 25px;
}

p {
  font-family: "EB Garamond", serif;
  font-size:18px;
  text-wrap:inherit;
  margin-right:25px;
  text-align:justify;
}

section {
  display: flex;
  text-wrap: inherit;
}

.info {
  flex-direction: column;
}

img {
  float:left;
  margin: 0 25px;
}

.asg3 .header{
  font-family:"Bebas Neue";
}

.asg3 {
  font-family:"Montserrat";
}

.questions {
  display:flex;
  flex-direction:column;
}